# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
#
.build/
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Accio dependency manager
#
.accio/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
*.injector

# AppCode
#
.idea/

# Vagrant
#
.vagrant/

# Bitrise
#
.bitrise/

# Mac
#
.DS_Store
.AppleDouble
.LSOverride

# Android Studio
#
.idea/
.gradle/
local.properties
*.iml
*.hprof

# Node
#
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Realm
#
*.realm
*.realm.lock
*.realm.management

# Other
#
*.swp
*.lock
*~

# Logs
#
*.log

# Environment
#
.env

# Certificates
#
*.crt
*.pem

# Thumbnails
#
._*

# Icon must be treated as binary (add rules if it is used as source)
#
*.ico

# Backup files
#
*.bak
*.ori
*.orig

# Other backup files
#
*.tmp
*.temp
